.timeline {
  list-style: none;padding: 20px 0 20px;position: relative;
}
.timeline:before {
  top: 0;bottom: 0;position: absolute;content: " ";width: 6px;background-color: #E6E6E6;left: 50%;margin-left: -2.5px;
}
.timeline > li {
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before, .timeline > li:after {
  content: " ";display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;margin-left: 60px;float: left;padding: 0px 10px;position: relative;
}
.timeline > li > .timeline-badge {
  color: #fff;width: 30px;height: 30px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 0px;left: 50.8%;
  margin-left: -25px;background-color: #FFF;z-index: 100;border-top-right-radius: 50%; border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;
}
.timeline-badge.default{
	border:6px solid #3D506A;
}
.timeline-badge.primary {
  border:6px solid #2e6da4;
}
.timeline-badge.success {
  border:6px solid #3f903f !important;
}
.timeline-badge.warning {
 border:6px solid #FACA38 !important;
}
.timeline-badge.danger {
  border:6px solid #E23A59 !important;
}
.timeline-badge.info {
  border:6px solid #5bc0de !important;
}
.timeline-title {
  margin-top: 0;color: inherit;
}
.timeline-body-content, .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-body{
	padding:0px 20px;
}
.timeline-body-content {
	padding: 5px 10px;background-color:#F1F1F1; line-height: 17px;float: left;width: 100%;
}
.timeline-heading
{
	background-color:#3C506B;color:#fff;border-top-right-radius: 25px;position:relative; border-bottom-right-radius: 25px;height: 36px;
	-webkit-box-shadow: 0 5px 5px -3px #a0a0a0;-moz-box-shadow: 0 5px 5px -3px #a0a0a0;box-shadow: 0 5px 5px -3px #a0a0a0;
}
.timeline-heading:before {
    position: absolute;top: 36px;display: inline-block;border-top: 0px solid transparent;border-left: 0px solid #2F4054;
    border-right: 22px solid #2F4054;border-bottom: 15px solid transparent;content: " ";
}
.timeline-title{
	padding-right:20px;padding-top:10px;padding-left:20px;
}
.timeline-bodyheader{
	float:left;width:100%;background-color: #F1F1F1;
}
.timeline-read-more{
	color:#3A3A3A;background-color: #F1F1F1;    padding-right: 10px;padding-bottom:2px;float: left;width: 100%;
    border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
}
.timeline-read-more-txt{
	cursor:pointer;
}
.timeline-client-logo{
	padding-left:10px;padding-top: 2px;
}
.timeline-body-main
{
	float:left;width:100%; -webkit-box-shadow: 0 5px 5px -3px #a0a0a0;-moz-box-shadow: 0 5px 5px -3px #a0a0a0;
	box-shadow: 0 5px 5px -3px #a0a0a0;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.timeline-inverted > div > .timeline-heading-main > .timeline-heading{
	border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-top-left-radius: 25px;border-bottom-left-radius: 25px;	
}
.timeline-inverted > div > .timeline-heading-main > .timeline-heading:before{
	right: 0px;position: absolute;top: 36px;display: inline-block;border-top: 0px solid transparent; border-left: 22px solid #2F4054;
    border-right: 0px solid #2F4054;border-bottom: 16px solid transparent;content: " ";
}
.timeline-inverted  > .timeline-panel {
	    margin-right: 60px;
}
.timeline-heading-main{
	padding:0px;
}
.yellow-header{
	background-color:#FCC72B;
}
.yellow-header:before{
	border-left: 22px solid #E9AD1B !important;border-right: 0px solid #E9AD1B !important;
}
.red-header{
	background-color:#E23958;
}
.red-header:before{
	border-left: 0px solid #C43050 !important;border-right: 22px solid #C43050 !important;
}
.skyblue-header{
	background-color:#105E8C;
}
.skyblue-header:before{
	border-left: 22px solid #12526D !important;border-right: 0px solid #12526D !important;
}
.timeline-badge.skyblue {
    border: 6px solid #115E8C !important;
}
.pistagreen{
	background-color:#44ACAD;
}
.pistagreen:before{
	border-left: 0px solid #218E8B !important;border-right: 22px solid #218E8B !important;
}
.timeline-badge.pistagreen {
    border: 6px solid #43ABAB !important;
}
@media (max-width:768px) {
	.timeline-part
	{
		width:100%;
	}
	.timeline > li > .timeline-panel {
		margin-right: 0px !important;padding:0px;    width: 85%;    float:right;
	}
	.timeline-inverted  > .timeline-panel{
		margin-right:0px !important;    width: 85%;    
	}
	.timeline:before
	{
		left:5%;
	}
	.timeline > li > .timeline-badge
	{
		left: 8%; top: 10px;
	}
	.timeline-heading{
		border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-top-left-radius: 25px;border-bottom-left-radius: 25px;
	}
	.timeline-heading:before{
		right: 0;border-left: 22px solid #2F4054;border-right: 0px solid #2F4054;
	}
	.red-header:before {
		border-left: 22px solid #C43050 !important;border-right: 0px solid #C43050 !important;
	}
	.pistagreen:before {
		border-left: 22px solid #218E8B !important;border-right: 0px solid #218E8B !important;
	}
	.timeline > li
	{
		padding:10px 0px;
	}
	.timeline-title
	{
		text-align:left;
	}
}
@media (min-width:768px) and (max-width:1199px)
{
	.timeline-part
	{
		width:100%;
	}
	.timeline > li > .timeline-panel
	{
		margin-left:50px;
	}
	.timeline-inverted > .timeline-panel {
		margin-right: 50px;
	}
}
@media (min-width:512px) and (max-width:767px)
{
	.timeline > li > .timeline-badge
	{
		left: 7%;
	}
}
.timeline-content-part{
	background-color:#fff;background-image: linear-gradient(#f5f5f5 1px, transparent 1px),linear-gradient(90deg, #f5f5f5 1px, transparent 1px);background-size:30px 30px, 30px 30px, 20px 20px, 20px 20px;background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
.timeline > li > .animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;
}
.timeline > li > .timeline-badge.animated{
	-webkit-animation-duration: 3s;animation-duration: 3s;
}